.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title {
  padding: 10px;
}
* {
  font-family: monospace;
}
